@import "../../mixins.scss";

.Home {
  background: url("../../assets/bg.webp") no-repeat
    center center/cover;
  height: 100vh;
  padding: 5rem 3rem;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  .hero {
    margin: 3rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-weight: bolder;
      color: var(--white-color);
      font-size: 4.5rem;
      border-radius: 20px;
      padding: .4rem 1rem;
      text-align: center;
      display: flex;
      align-items: center;
      gap: 10px;
      
      @include mobile {
        font-size: 3rem;
      }
  
    }
    //293462
      p {
        max-width: 80%;
        font-size: 20px;
        padding: 1rem 4rem;
        font-weight: 600;
        line-height: 1.6;
        @include mobile {
          font-size: 1rem;
          max-width: 100%;
          padding: 1rem;
        }
   
      }
    
  }
}

.what-is {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  @include mobile {
    flex-direction: column;
  }
  h2 {
    text-align: center;
    font-size: 3rem;
    background: -webkit-linear-gradient(var(--text-primary-color), #2050c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    color: lightgray;
    line-height: 2;
    margin-top: 12px;
    @include mobile {
      font-size: 14px;
      text-align: center;
    }
  }
  img {
    width: 450px;
    border-radius: 20px;
    @include mobile {
      width: auto;
    }
  }
}

.gamelist-container {
  padding-top: 4rem ;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2{
    font-size: 3rem;
    background: -webkit-linear-gradient(90deg, var(--text-primary-color), #2050c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include mobile {
      font-size: 2rem;
      text-align: center;
    }
  }
}

