.recover-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 3rem;
  h1 {
    text-align: center;
    font-size: 5rem;
    span {
      background-clip: text;
      background: -webkit-linear-gradient(
        90deg,
        var(--text-primary-color),
        #2050c9
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.recover-form {
  margin: 0 auto;
  padding: 2rem 1rem;
  border-radius: 8px;
  background: #111;
  max-width: 800px;
  form {
    label {
      text-transform: uppercase;
      color: lightgray;
      font-weight: bold;
      display: block;
      font-size: 1.5rem;
    }
    input {
      transition: all 300ms ease-in-out;
      width: 100%;
      padding: 1rem;
      border: 1px solid lightgrey;
      margin-top: 1rem;
      background: transparent;
      border-radius: 8px;
      color: var(--white-color);

      &:focus {
        outline: 0;
        border-color: var(--text-primary-color);
      }
    }
    input[type="submit"] {
      border: 0;
      text-transform: uppercase;
      font-weight: bold;
      background: var(--text-primary-color);
      color: var(--white-color);
      &:hover {
        cursor: pointer;
        background-color: transparent;
        color: var(--text-primary-color);
      }
    }
  }
  nav {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    .link {
      color: var(--white-color);
      font-weight: bold;
      font-size: 18px;
      margin-top: 10px;
      transition: all 300ms ease-in-out;
      text-decoration: none;
      span {
        text-align: center;
        color: var(--text-primary-color);
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
