.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5rem 0;
  margin-top: 2rem;

  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .consoles{
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    .console-button {
      background-color: var(--text-primary-color);
      padding: .3rem 1rem;
      outline: 0;
      border: 0;
      color: var(--white-color);
      border-radius: 8px;
      font-weight: 600;
      opacity: .5;
      transition: all 300ms ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }
}
