@import "../../mixins.scss";

.about {
  padding: 4rem 2rem;

  h2 {
    font-size: 3rem;
    background: -webkit-linear-gradient(var(--text-primary-color), #2050c9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include mobile {
      font-size: 2rem;
    }
  }
  .about-text {
    margin: 2rem 0;
    text-align: center;

    p {
      margin-top: 1rem;
      line-height: 2;
      color: lightgray;
      text-align: left;
      padding: 0 4rem;
      @include mobile {
        text-align: center;
        padding: 0;
        font-size: 13px;
      }
    }
    
  }
  .contributors-section {
    h2 {
      text-align: center;
    }
    .contributors {
      margin: 2rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 5rem;
      
    }
  }
}
