.consolepage {

  h1 {
    text-align: center;
    font-size: 80px;
    background: -webkit-linear-gradient(#2940D3, #2050C9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 5rem 0;
  }

  .consolesList {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
}