* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #111;
  background: url('./assets/bg-home.png') no-repeat center center/cover;
  min-height: 100vh;

}