* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --text-primary-color: #5800FF;
  --text-secondary-color: #181D31;
  --bg-primary-color: #000114;
  --white-color: #fff;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: var(--bg-primary-color);
  min-height: 100vh;

  &::-webkit-scrollbar{
    background-color: #111;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--text-primary-color);
  }

}

