* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #000114;
  min-height: 100vh;

  &::-webkit-scrollbar{
    background-color: #111;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #2940D3;
  }

}

