.search-game {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      min-width: 300px;
      background-color: transparent;
      padding: 1rem 2rem;
      border-radius: 8px;
      outline: 0;
      border: 0;
      border: 1px solid var(--white-color);
      border-radius:8px;
      color: var(--white-color);
    }
    label {
      position: relative;
    }

    span {
      position: absolute;
      top: .8rem;
      right: 1rem;
    }
}