.search-game {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      background-color: transparent;
      padding: .5rem 1rem;
      outline: 0;
      border: 0;
      border: 1px solid var(--white-color);
      border-radius:2px;
      color: var(--white-color);
    }
}