@import "../../mixins.scss";

.Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  height: 50px;
  background-color: transparent;
  color: #fff;
  z-index: 100;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  .left {
    display: flex;
    align-items: center;
    gap: 30px;
    span {
      font-weight: bold;
      font-size: 20px;
      color: var(--white-color);
      @include mobile {
       font-size: 12px;
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    .navigation {
      ul {
        display: flex;
        gap: 1rem;
        @include mobile {
        display: none;
        }
        li {
          list-style: none;
          span {
            font-weight: bold;
            transition: all 300ms ease-in-out;
            border: 2px solid transparent;

            &:hover {
              color: var(--text-primary-color);
              border-bottom: 2px solid var(--text-primary-color);
            }
          }
        }
      }
    }
    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    button {
      background-color: var(--text-primary-color);
      border: 0;
      padding: 0.4rem 1rem;
      border-radius: 5px;
      color: var(--white-color);
      cursor: pointer;
      transition: all 300ms ease-in-out;
      font-weight: bold;
      &:hover {
        background-color: transparent;
        color: var(--text-primary-color);
      }
    }
  }
}
